<!DOCTYPE html>
<html>
<head>
    <title>K8s示例应用!</title>
    <link rel="stylesheet" type="text/css" href="{{ renderPathPrefix }}/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" >
</head>
<body>

  <div class="main">
    <img src="{{ renderPathPrefix }}/images/logo.svg" width="50%"/>
    <div class="content">
      {{{body}}}
    </div>
  </div>

</body>
</html>
